<div class="content">
  <h2>Template - Basic</h2>
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="onItemDeSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
  </angular2-multiselect>
</div>

<div class="content">
  <h2>Template - For custom html of menu item</h2>
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
    <c-item>
      <ng-template let-item="item">
        <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
        <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
        <label>Capital - {{item.capital}}</label>
      </ng-template>
    </c-item>
  </angular2-multiselect>
</div>

<div class="content">
  <h2>Template - For custom html of Selected item - badge</h2>
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
    <c-badge>
      <ng-template let-item="item">
        <label style="margin: 0px;">{{item.itemName}}</label>
        <img [src]="item.image" style="width: 16px; margin-right: 5px;" />
      </ng-template>
    </c-badge>
  </angular2-multiselect>
</div>

<div class="content">
  <h2>Template Driven Forms support</h2>
  <form (ngSubmit)="onSubmitForTemplateDrivenForms(form1)" #form1="ngForm">
    <div class="form-group">
      <label>name</label>
      <input [(ngModel)]="formModel.name" name="name">
    </div>
    <div class="form-group">
      <label>items</label>
      <angular2-multiselect [data]="dropdownList" [(ngModel)]="formModel.items" name="items"
                            [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div class="content">
  <h2>Reactive Forms support</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForReactiveForms(form2)" #form2="ngForm">
    <div class="form-group">
      <label>name</label>
      <input formControlName="name"> <!-- ngModelを指定していないと formControlNameを使用した片方向のバインディング-->
    </div>
    <div class="form-group">
      <label>items</label>
      <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" formControlName="items"
                            [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"><!-- ngModelを指定していると ngModelを使用した双方向のバインディング-->
      </angular2-multiselect>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
